/*=============================================
    About Section 
=============================================*/

.about-section {
  padding: 108px 0px 124px;
}
.about-section .top-section {
  background-color: var(--thm-white);
  width: 90%;
  margin: auto;
}
.about-section .top-section h1 {
  text-align: center;
  font-size: 45px;
  line-height: 60px;
  font-weight: 500;
}
.about-section .top-section p {
  font-size: 32px;
  line-height: 44px;
  color: var(--thm-black);
  font-weight: 600;
  text-align: center;
}
.about-section .bottom-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.about-section .bottom-section .counter-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: start; /* prevents stretching */
  gap: 48px 0px;
  width: 184px;
}
.about-section .bottom-section .counter h3 {
  font-size: 48px;
  margin-bottom: 12px;
  line-height: 48px;
  font-weight: 700;
  color: var(--thm-black);
  text-align: center;
}
.about-section .bottom-section .counter h3 span {
  color: var(--thm-primary);
}
.about-section .bottom-section .counter-wrapper .counter h4 {
  font-size: 18px !important;
  line-height: 25px;
  color: #6b6c6c;
  font-weight: 400;
  font-size: var(--thm-text-font);
  text-align: center;
  margin-bottom: 0px;
}
.about-section .bottom-section .image-wrapper {
  width: 728px;
  text-align: center;
}
.about-section .bottom-section .image-wrapper img {
  width: 70%;
  border-radius: 8px;
}
.about-section .bottom-section .image-wrapper p {
  font-size: 18px;
  text-align: center;
}
/*=============================================
    About Section End
=============================================*/
/*=============================================
   service-section       
=============================================*/
.service-section {
  background-color: var(--thm-white);
  padding: 80px 0px 124px;
}

.service-section .top-section .left-section .highlight-text-1 {
  margin: auto;
}
.service-section .top-section .left-section h2 {
  text-align: center;
  margin: 10px 0px 8px;
}
.service-section .top-section .right-section p {
  text-align: center;
}
.service-section .bottom-section .service-container {
  background-color: #fff5eb;
  border: 1px solid #f6e2d5;
}

.service-section .bottom-section .service-container .category-call a {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  color: var(--thm-bg-1);
}
.service-section .bottom-section .service-container .category-call a:hover {
  color: var(--thm-primary);
}

.service-section .bottom-section .service-container .category-call a::before {
  position: absolute;
  border-radius: 50px;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--thm-primary);
  bottom: -5px;
  transition: 0.6s ease-in-out;
}
.service-section
  .bottom-section
  .service-container
  .category-call
  a:hover::before {
  width: 0%;
  transform: translateX(-100%);
}
.service-section .bottom-section .service-container .category-call a::after {
  position: absolute;
  content: "";
  width: 0%;
  border-radius: 50px;
  height: 2px;
  background: var(--thm-bg-1);
  bottom: -5px;
  transition: 0.6s ease-in-out;
}
.service-section
  .bottom-section
  .service-container
  .category-call
  a:hover::after {
  width: 100%;
  transform: translateX(-100%);
}
/*=============================================
   service-section End    
=============================================*/

/*=============================================
    Value Section 
=============================================*/
.value-section {
  padding: 108px 0px 124px;
  background-color: #fff5eb;
}
.value-section h2 {
  text-align: start;
  margin-bottom: 20px;
}
.value-section .left-section {
  padding-right: 20px;
}
.value-section .left-section p {
  font-size: 18px;
}
.value-section .left-section .check-section {
  margin-top: 20px;
  gap: 15px 0px;
}
.value-section .left-section .check-section .bullet-point {
  display: flex;
  align-items: center;
}
.value-section .left-section .check-section .bullet-point img {
  width: 30px;
  height: 30px;
}
.value-section .left-section .check-section .bullet-point h4 {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 10px;
}
.value-section .right-section {
  padding-left: 20px;
}
.value-section .right-section p {
  font-size: 18px;
}
.value-section .right-section .highlight-wrapper {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start; /* prevents stretching */
  gap: 8px 8px;
}
.value-section .right-section .highlight-wrapper .highlight {
  background-color: var(--thm-bg-1);
  border-radius: 12px;
  padding: 32px 10px;
}
.value-section .right-section .highlight-wrapper .highlight h3 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: var(--thm-white);
  text-align: center;
}
/*=============================================
    Value Section End
=============================================*/

/*=============================================
    FAQ Section
=============================================*/
.faq-section {
  padding: 124px 0px 120px;
}
/*=============================================
    FAQ Section End
=============================================*/

/*=============================================
    Trust Section
=============================================*/
.trust-section {
  padding: 108px 0px 150px 0px;
  background-color: var(--thm-white);
}
.trust-section .top-section .highlight-text {
  margin: auto;
}
.trust-section .top-section h2 {
  margin: 10px 0px 8px 0px;
}
.trust-section .top-section .text {
  font-size: 18px;
  text-align: center;
}
.trust-section .bottom-section {
  margin-top: 50px;
}
.trust-section .bottom-section > .row {
  gap: 30px 0px;
}
.trust-section .bottom-section .service-container {
  height: 100%;
  background-color: #fefefe;
  padding: 25px 20px 25px;
  border-radius: 16px;
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
  text-align: center;
}
.trust-section .bottom-section .service-container .icon-bg {
  padding: 13px;
  background: linear-gradient(180deg, #fff5eb 0%, #ffffff 100%);
  border-radius: 100%;
  width: 90px;
  margin: auto;
}
.trust-section .bottom-section .service-container h3 {
  margin: 10px 0px 5px;
  color: var(--thm-primary);
}

/*=============================================
    Team Section End
=============================================*/
@media only screen and (max-width: 1025px) {
  .about-section {
    padding: 100px 30px 60px;
  }
  .about-section .top-section {
    width: 100%;
  }
  .about-section .top-section h1 {
    font-size: 42px;
    line-height: 55px;
  }
  .about-section .bottom-section {
    flex-wrap: wrap;
  }
  .about-section .bottom-section .counter-wrapper {
    width: 50%;
  }
  .about-section .bottom-section .image-wrapper {
    width: 100%;
    order: 2;
    margin-top: 40px;
  }
  .about-section .bottom-section .image-wrapper img {
    width: 85%;
  }
  .service-section {
    padding: 60px 30px 100px;
  }
  .value-section {
    padding: 100px 30px 100px;
  }
  .value-section h2 {
    margin-bottom: 10px;
  }
  .value-section .left-section {
    padding-left: (var(--bs-gutter-x) * 0.5);
  }
  .value-section .right-section {
    margin-top: 30px;
    padding-left: (var(--bs-gutter-x) * 0.5);
  }
  .trust-section {
    padding: 100px 30px 100px;
  }
  .faq-section {
    padding: 100px 30px 100px;
  }
}
@media only screen and (max-width: 767px) {
  .breadcrumb-section .content h2 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 8px;
  }
  .breadcrumb .breadcrumb-item a {
    font-size: 16px;
  }
  .about-section {
    padding: 75px 10px 60px;
  }
  .about-section .top-section h1 {
    font-size: 28px;
    line-height: 42px;
  }
  .about-section .bottom-section {
    margin-top: 30px;
  }
  .about-section .bottom-section .counter h3 {
    font-size: 30px;
    margin-bottom: 6px;
    line-height: 45px;
  }
  .about-section .bottom-section .image-wrapper img {
    width: 100%;
  }
  .service-section {
    padding: 60px 10px 75px;
  }
  .value-section {
    padding: 75px 10px 75px;
  }
  .value-section h2 {
    margin-bottom: 10px;
  }
  .value-section .left-section {
    padding-left: (var(--bs-gutter-x) * 0.5);
  }
  .value-section .right-section {
    margin-top: 30px;
    padding-left: (var(--bs-gutter-x) * 0.5);
  }
  .value-section .right-section .highlight-wrapper {
    margin-top: 15px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 8px;
  }
  .value-section .right-section .highlight-wrapper .highlight {
    height: 100%;
  }
  .trust-section {
    padding: 75px 10px;
  }
  .faq-section {
    padding: 75px 10px;
  }
  .trust-section .bottom-section {
    margin-top: 30px;
  }
}
