/*=============================================
   contact-section       
=============================================*/
.contact-section {
  padding: 124px 0px;
}
.contact-section .text-section {
  padding-right: 20px;
}
.contact-section .form-section {
  padding-left: 20px;
}
.contact-section .text-section h2 {
  text-align: start;
}
.contact-section .text-section .btn-style {
  margin-top: 20px;
}
.contact-section .form-section form {
  padding: 30px 20px;
  border: 1px solid #333;
  border-radius: 10px;
}
/*=============================================
   contact-section end  
=============================================*/
@media screen and (max-width: 1025px) {
  .contact-section {
    padding: 100px 30px;
  }
  .contact-section .text-section {
    margin-bottom: 50px;
  }
  .contact-section .text-section {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .contact-section .form-section {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .contact-section .text-section .btn-style {
    margin-top: 5px;
  }
}
@media screen and (max-width: 767px) {
  .contact-section {
    padding: 75px 10px;
  }
  .contact-section .text-section {
    margin-bottom: 30px;
  }
  .contact-section .text-section {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .contact-section .form-section {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .contact-section .text-section .btn-style {
    margin-top: 0px;
  }
  .contact-section .form-section form .form-submit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
}
