/*=============================================
    Location Section 
=============================================*/
.location-section {
  padding: 124px 0px 108px;
}
.location-section .location-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 15px;
}
.location-section .location-grid .location-cont {
  background-color: #fff5eb;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 16px 0px rgba(19, 23, 32, 0.16);
  text-align: center;
  height: 100%;
}
.location-section .location-grid .location-cont i {
  font-size: 40px;
  color: var(--thm-primary);
  margin-bottom: 15px;
}
.location-section .location-grid .location-cont h4 {
  font-size: 20px;
}
.location-section .location-grid .location-cont a {
  font-size: 18px;
  color: var(--thm-text);
  font-weight: 600;
}
.location-section .location-grid .location-cont a:hover {
  color: var(--thm-bg-1);
}
.location-section .location-grid .location-cont .number {
  display: flex;
  flex-direction: column;
}
/*=============================================
    Location Section End
=============================================*/

.contact-section {
  padding: 80px 0px 124px;
}
.contact-section .contact-container {
  box-shadow: 2px 2px 16px 0px rgba(19, 23, 32, 0.16);
  border-radius: 16px;
  padding: 24px;
}
.contact-section .contact-container .contact-left .inner-cont {
  padding: 40px 22px;
  border-radius: 12px;
  background-color: #fff5eb;
}
.contact-section .contact-container .contact-left h5 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  margin-bottom: 28px;
}

/*=============================================
    Form Section 
=============================================*/
.form-control {
  padding: 15px;
  background: #fff;
  height: 55px;
  font-size: 16px;
  margin-bottom: 15px;
}

.form-control:focus {
  border: 1px solid #333;
  box-shadow: none;
  background: #fff;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus,
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  box-shadow: none;
}

.form-submit {
  margin-top: 20px;
  border: none;
  background: none;
}
form .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 15px;
}
/*=============================================
    Form Section End
=============================================*/
iframe {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

@media screen and (max-width: 1025px) {
  .location-section {
    padding: 100px 30px;
  }
  .location-section .location-grid {
    grid-template-columns: repeat(2, 2fr);
    gap: 40px 10px;
  }
  .contact-section {
    padding: 60px 30px 100px;
  }
  .contact-section .contact-container .contact-left {
    margin-bottom: 50px;
  }
  iframe {
    height: 520px;
  }
  .contact-section .contact-container {
    padding: 40px 15px;
  }
}

@media screen and (max-width: 767px) {
  .location-section {
    padding: 75px 30px;
  }
  .location-section .location-grid {
    grid-template-columns: repeat(1, 3fr);
    gap: 40px 10px;
  }
  .contact-section {
    padding: 60px 20px 75px;
  }
  .contact-section .contact-container .contact-left {
    margin-bottom: 30px;
  }
  iframe {
    height: 420px;
  }
  .contact-section .contact-container {
    padding: 30px 5px;
  }
  .contact-section .contact-container .contact-left h5 {
    font-size: 28px;
    line-height: 38px;
  }
  form .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px 15px;
  }
  .contact-section .contact-container .contact-left form .form-submit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
}
