/*=============================================
   banner-section       
=============================================*/
.banner-section {
  padding: 68px 0px 88px;
}
.banner-section .highlight-text {
  font-size: 18px;
}
.banner-section .left-section h1 {
  margin: 12px 0px 28px;
  font-size: 65px;
  font-weight: 500;
  line-height: 80px;
  text-transform: uppercase;
  color: var(--thm-black);
}
.banner-section .left-section h1 span {
  color: var(--thm-primary);
  font-style: italic;
  font-weight: 800;
}
.banner-section .left-section .text {
  font-size: 18px;
}
.banner-section .left-section .highlight-btn {
  margin-top: 36px;
}
.banner-section .left-section .highlight-btn .btn-style {
  padding: 12px 26px;
  font-size: 18px;
  line-height: 28px;
}
.banner-section .left-section .highlight-btn .btn-style-1 {
  position: relative;
  margin-left: 22px;
  background-color: var(--thm-bg-1);
  color: var(--thm-white);
}
.banner-section .left-section .highlight-btn .btn-style-1::before {
  background-color: var(--thm-primary);
}
.banner-section .right-section {
  align-content: center;
}

/*=============================================
   banner-section       
=============================================*/
.category-section {
  padding: 116px 0px 124px;
  background-color: var(--thm-bg-2);
}
.category-section .top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category-section .category-wrapper {
  margin-top: 48px;
  display: flex;
  gap: 0px 30px;
}
.category-section .category-wrapper .category-container {
  width: 180px;
}
.category-section .category-wrapper .category-container .category-icon {
  padding: 62px 25px 55px 25px;
  box-shadow: 12px 19px 62px 0px rgba(13, 52, 79, 0.07);
  background: linear-gradient(180deg, #fce6df 0%, #ffffff 100%);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #fef6ef;
  border-radius: 222px 222px 222px 222px;
}
.category-section .category-wrapper .category-container .category-text {
  margin-top: 20px;
}
.category-section .category-wrapper .category-container .category-text p {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: var(--thm-primary);
  margin-bottom: 10px;
}
.category-section
  .category-wrapper
  .category-container
  .category-text
  .category-call {
  display: flex;
  justify-content: center;
}
.category-section .category-wrapper .category-container .category-text a {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  color: var(--thm-bg-1);
}
.category-section .category-wrapper .category-container .category-text a:hover {
  color: var(--thm-primary);
}

.category-section
  .category-wrapper
  .category-container
  .category-text
  a::before {
  position: absolute;
  border-radius: 50px;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--thm-primary);
  bottom: -5px;
  transition: 0.6s ease-in-out;
}
.category-section
  .category-wrapper
  .category-container
  .category-text
  a:hover::before {
  width: 0%;
  transform: translateX(-100%);
}
.category-section
  .category-wrapper
  .category-container
  .category-text
  a::after {
  position: absolute;
  content: "";
  width: 0%;
  border-radius: 50px;
  height: 2px;
  background: var(--thm-bg-1);
  bottom: -5px;
  transition: 0.6s ease-in-out;
}
.category-section
  .category-wrapper
  .category-container
  .category-text
  a:hover::after {
  width: 100%;
  transform: translateX(-100%);
}

/*=============================================
   service-section       
=============================================*/
.service-section {
  padding: 124px 0px;
  background: var(--thm-bg-3);
}
.service-section .top-section .left-section h2 {
  text-align: start;
}
.service-section .top-section .right-section {
  align-content: center;
}
.service-section .top-section .right-section p {
  font-size: 18px;
}
.service-section .bottom-section {
  margin-top: 48px;
}
.service-section .bottom-section .row {
  gap: 24px 0px;
}
.service-section .bottom-section .service-container {
  background-color: var(--thm-white);
  padding: 19px 19px 23px;
  border-radius: 16px;
  box-shadow: 12px 19px 62px 0px rgba(13, 52, 79, 0.07);
}

.service-section .bottom-section .service-container img {
  border-radius: 12px;
  margin-bottom: 24px;
}

.service-section .bottom-section .service-container h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.service-section .bottom-section .service-container p {
  margin-bottom: 26px;
}

.service-section .bottom-section .service-container .highlight-btn .btn-style {
  padding: 12px 26px;
  font-size: 16px;
  line-height: 28px;
}
.service-section
  .bottom-section
  .service-container
  .highlight-btn
  .btn-style-1 {
  position: relative;
  margin-left: 10px;
  background-color: var(--thm-bg-1);
  color: var(--thm-white);
}
.service-section
  .bottom-section
  .service-container
  .highlight-btn
  .btn-style-1::before {
  background-color: var(--thm-primary);
}
.cover:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 250px rgba(0, 0, 0, 0.65) inset;
  -webkit-transition: 0.7s ease 0s;
  -moz-transition: 0.7s ease 0s;
  -o-transition: 0.7s ease 0s;
  -ms-transition: 0.7s ease 0s;
  transition: 0.7s ease 0s;
}
.feature-main:hover .cover:before {
  box-shadow: none;
}
