/*=============================================
   modal-section       
=============================================*/

.modal-content {
  border: none;
  border-radius: 10px;
  padding: 20px;
}
.modal-header {
  padding: 0px;
  border-radius: 0px;
  border: none;
}
.modal-title {
  text-align: center;
  width: 100%;
  font-size: 26px;
  font-weight: 600;
}
.modal-body {
  padding: 0px;
  text-align: center;
  padding-top: 10px;
}
.modal-footer {
  border: none;
  justify-content: center;
}
.modal-footer form {
  width: 100%;
}
.modal-footer .btn-style-1 {
  padding: 0px 26px;
  border: none;
}
.btn-close:focus {
  box-shadow: none;
}
/*=============================================
   banner-section       
=============================================*/
.banner-section {
  padding: 68px 0px 88px;
  background-image: url(/Images/Home/Amb\ Banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-section .highlight-text {
  font-size: 18px;
}
.banner-section .left-section h1 {
  margin: 12px 0px 20px;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  text-transform: uppercase;
  color: var(--thm-black);
}
.banner-section .left-section h1 span {
  color: var(--thm-primary);
  font-style: italic;
  font-weight: 800;
}
.banner-section .left-section .text {
  font-size: 18px;
  color: #333;
}
.banner-section .left-section .highlight-btn {
  margin-top: 36px;
}
.banner-section .left-section .highlight-btn .btn-style {
  padding: 12px 26px;
  font-size: 18px;
  line-height: 28px;
}
.banner-section .left-section .highlight-btn .btn-style-1 {
  position: relative;
  margin-left: 22px;
  background-color: var(--thm-bg-1);
  color: var(--thm-white);
}
.banner-section .left-section .highlight-btn .btn-style-1::before {
  background-color: var(--thm-primary);
}
.banner-section .right-section {
  align-content: end;
}

/*=============================================
   why-choose-section       
=============================================*/
.choose-section {
  background-color: #fff;
  padding: 124px 0px 108px 0px;
}
.choose-section .top-section .text-section {
  text-align: center;
  width: 90%;
  margin: auto;
}
.choose-section .top-section .text-section p:last-of-type {
  font-size: 18px;
}
.choose-section .top-section .text-section .highlight-text-1 {
  margin: auto;
}
.choose-section .top-section .text-section h2 {
  margin: 10px 0px 8px;
}
.choose-section .bottom-section {
  margin-top: 50px;
}
.choose-section .bottom-section .mt-custom {
  margin-top: 30px;
}
.choose-section .bottom-section .service-container {
  background-color: #fefefe;
  padding: 25px 20px 25px;
  border-radius: 16px;
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
  text-align: center;
}
.choose-section .bottom-section .service-container .icon-bg {
  padding: 13px;
  background: linear-gradient(180deg, #fff5eb 0%, #ffffff 100%);
  border-radius: 100%;
  width: 90px;
  margin: auto;
}
.choose-section .bottom-section .service-container h3 {
  margin: 10px 0px 5px;
  color: var(--thm-primary);
}
/*=============================================
   why-choose-section End       
=============================================*/

/*=============================================
    Testinomial section 
=============================================*/
.testinomial-section {
  background-color: #fff5eb;
  padding: 124px 0px 108px 0px;
}

.testinomial-section .top-section h2 {
  margin: 10px 0px 8px;
}
.testinomial-section .top-section .highlight-text-1 {
  margin: auto;
}
.testinomial-section .bottom-section {
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
  border-radius: 10px;
  background-color: #fff;
  margin-top: 50px;
}
.testinomial-section .bottom-section .carousel-custom {
  width: 75%;
  margin: auto;
  padding: 64px 0px 80px;
  position: relative;
}
/* testinomial */
.review {
  font-size: 24px !important;
  color: var(--thm-primary) !important;
  margin-bottom: 20px;
}
.testinomial-section .bottom-section .carousel-custom h5 {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  color: var(--thm-black);
}
.testinomial-section .bottom-section .carousel-custom p {
  color: var(--thm-base);
  font-size: 18px;
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 22px;
  color: var(--thm-white);
  background-color: var(--thm-primary);
  border-radius: 100px;
  left: 44%;
  bottom: 20px;
  height: fit-content;
  top: unset;
  width: fit-content;
  padding: 10px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.carousel-control-next {
  left: 50%;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: var(--thm-bg-1);
}

/*=============================================
    Testinomial section End
=============================================*/

@media only screen and (max-width: 1025px) {
  .banner-section {
    padding: 68px 30px 88px;
  }
  .banner-section .right-section {
    margin-top: 50px;
  }
  .category-section {
    padding: 100px 30px;
  }
  .category-section .top-section {
    width: 100%;
  }
  .category-section .category-wrapper {
    gap: 40px 15px;
  }
  .category-section .category-wrapper .category-container {
    width: calc((100% - 30px) / 3);
  }
  .choose-section {
    padding: 100px 30px;
  }
  .choose-section .top-section .text-section {
    width: 100%;
  }
  .choose-section .top-section .text-section h2 br {
    display: contents;
  }
  .choose-section .bottom-section > .row {
    gap: 30px 0px;
  }
  .choose-section .bottom-section .mt-custom {
    margin-top: 0px;
  }

  .testinomial-section {
    padding: 100px 30px;
  }
  .testinomial-section .bottom-section .carousel-custom {
    width: 90%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    bottom: 30px;
  }
  .carousel-control-next {
    left: 53%;
  }
}

@media only screen and (max-width: 767px) {
  .modal-content {
    padding: 20px 15px;
    width: 90%;
    margin: auto;
  }
  .modal-footer {
    padding: 0px;
    padding-top: 10px;
  }
  .banner-section {
    padding: 68px 10px 88px;
  }
  .banner-section .left-section h1 {
    font-size: 35px;
    margin: 0px 0px 10px;
    line-height: 50px;
  }
  .banner-section .right-section {
    margin-top: 50px;
  }
  .banner-section .left-section .highlight-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px 0px;
  }
  .category-section {
    padding: 75px 10px;
  }
  .category-section .top-section {
    width: 100%;
  }
  .category-section .category-wrapper {
    margin-top: 30px;
    gap: 40px 15px;
  }
  .category-section .category-wrapper .category-container {
    width: calc((100% - 30px) / 2);
  }

  .choose-section {
    padding: 75px 10px;
  }
  .choose-section .top-section .text-section h2 br {
    display: contents;
  }
  .choose-section .top-section .text-section {
    width: 100%;
  }
  .choose-section .top-section .text-section p:last-of-type {
    font-size: 16px;
  }
  .choose-section .bottom-section {
    margin-top: 30px;
  }
  .choose-section .bottom-section .service-container h3 {
    font-size: 22px;
  }
  .testinomial-section {
    padding: 75px 10px;
  }
  .testinomial-section .top-section {
    margin-bottom: 30px;
  }
  .testinomial-section .bottom-section {
    width: 95%;
    margin: auto;
  }
  .testinomial-section .bottom-section .carousel-custom {
    width: 100%;
    margin: auto;
    padding: 20px 10px 80px;
  }
  .review {
    font-size: 18px !important;
  }
  .testinomial-section .bottom-section .carousel-custom h5 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .testinomial-section .bottom-section .carousel-custom p {
    font-size: 16px;
  }
  .carousel-control-prev {
    left: 120px;
  }
  .carousel-control-next {
    left: 170px;
  }
}
