/*=============================================
   service-section       
=============================================*/
.service-section {
  background-color: var(--thm-white);
  padding: 108px 0px 124px;
}

.service-section .top-section .left-section .highlight-text-1 {
  margin: auto;
}
.service-section .top-section .left-section h2 {
  text-align: center;
  margin: 10px 0px 8px;
}
.service-section .top-section .right-section p {
  text-align: center;
}
.service-section .bottom-section .service-container {
  background-color: #fff5eb;
  border: 1px solid #f6e2d5;
}

/*=============================================
    FAQ Section
=============================================*/
.faq-section {
  padding: 124px 0px 120px;
}
/*=============================================
    FAQ Section End
=============================================*/

/*=============================================
    Gallery Section
=============================================*/
.gallery-section {
  background-color: #fff5eb;
  padding: 124px 0px 108px;
}
.gallery-section .top-section {
  margin-bottom: 50px;
}
.gallery-section .top-section .highlight-text-1 {
  margin: auto;
}
.gallery-section .top-section h2 {
  margin: 10px 0px 8px;
}
.gallery-section .bottom-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
}
.gallery-section .bottom-section img {
  border-radius: 5px;
}
.gallery-section .bottom-section img:hover {
  cursor: pointer;
}
.gallery-section .bottom-section .vertical-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1025px) {
  .service-section {
    padding: 100px 30px;
  }
  .service-section .top-section .left-section h2 br,
  .gallery-section .top-section h2 br {
    display: contents;
  }
  .gallery-section {
    padding: 100px 30px;
  }
  .gallery-section .bottom-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0px;
  }
  .gallery-section .bottom-section div:first-child {
    width: 49%;
  }
  .gallery-section .bottom-section div:nth-child(2) {
    width: 49%;
  }
  .gallery-section .bottom-section div:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 0px;
  }
  .gallery-section .bottom-section div:nth-child(4) {
    width: 49%;
  }
  .gallery-section .bottom-section div:nth-child(5) {
    width: 49%;
  }
  .gallery-section .bottom-section div:nth-child(6) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 0px;
  }
  .faq-section {
    padding: 100px 30px;
  }
}

@media screen and (max-width: 767px) {
  .breadcrumb-section .content h2 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 8px;
  }
  .breadcrumb .breadcrumb-item a {
    font-size: 16px;
  }
  .service-section {
    padding: 75px 10px;
  }
  .gallery-section {
    padding: 75px 10px;
  }
  .gallery-section .top-section {
    margin-bottom: 30px;
  }
  .gallery-section .bottom-section {
    gap: 15px 0px;
  }
  .gallery-section .bottom-section div:nth-child(3) {
    gap: 15px 0px;
  }
  .gallery-section .bottom-section div:nth-child(6) {
    gap: 15px 0px;
  }
  .faq-section {
    padding: 60px 10px 75px;
  }
}
